<div class="container">
  <div class="card-title">
    Cadastrar Conta
  </div>
  <form [formGroup]="frmAccount" >
    <div style="background-color: aquamarine;" class="form-group">
      <mat-card style="background-color: blue;" >
        <div style="background-color: blueviolet;" class="example-container">

          <div >
            <mat-form-field>
              <input class="form-control" matInput type="text" placeholder="Nome da conta!"
                     formControlName="description" required >
              <mat-error *ngIf="frmAccount.get('description').hasError('required')">
                {{staticmsgs.obrigatoryRegister}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field>
              <mat-label>Tipo da conta</mat-label>
              <mat-select formControlName="accountTypeId"  required >
                <mat-option  *ngFor="let typeOFAccount of typeOfAccounts" [value]="typeOFAccount.id">
                  {{typeOFAccount.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="frmAccount.get('accountTypeId').hasError('required')">
                {{staticmsgs.obrigatoryRegister}}</mat-error>
            </mat-form-field>
            <a mat-flat-button [routerLink]="['create-account-type']">
              <mat-icon aria-hidden="false">add</mat-icon>
            </a>

          </div>

          <div >
            <div class="col-6">
              <mat-slide-toggle
                value
                formControlName="includeDashboard"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
                Incluir Dashboard
              </mat-slide-toggle>
            </div>
            <div class="col-6">
            <mat-slide-toggle
              value
              formControlName="ignoreOverallBalance"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
              Ignorar em Totais
            </mat-slide-toggle>
            </div>
          </div>

          <div class="col-md-12">
            <mat-form-field class="inputMat">
              <input
                matInput
                type="number"
                placeholder="Saldo "
                formControlName="openingBalance"
                required
              />
              <mat-error *ngIf="frmAccount.get('openingBalance').hasError('required')">
                {{ staticmsgs.obrigatoryRegister }}</mat-error>
            </mat-form-field>

          </div>

        </div>

        <div class="text-center">
          <button mat-flat-button (click)="save()" color="primary">Gravar</button>
        </div>

      </mat-card>
    </div>

  </form>
</div>
