mat-form-field {
  min-width: 400px;
  width: 100%;
}
.mat-button-wrapper {
  margin: auto;
}

.wrn-custom-cover {
  background-image: linear-gradient(45deg, rgb(239, 102, 150) 0px, rgb(238, 46, 93) 70%) !important;
}

.container-flex {
  display: flex;
  width: 100vw;
  height: 100vw;
}
.bd-r-container{
  border-radius: 25px;
}