.transaction-saida{
  color: #CE6060;
}
.transaction-entrada{
color: #179428;
}

.description{
  font-size: 16px;
}

.category mat-chip{
  font-size: 12px;
  font-style: italic;
}

.dueDate{
  width: 16% !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
